* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #eee;
  overflow-x: hidden;
  background-color: #222;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

/* Header  */
.side-left {
  font-size: 2.2rem;
  position: absolute;
  background-color: #ffe4c4;
  padding: 0 96px;
  color: #222;
  top: 0;
  left: 0;
  transform: rotate(319deg) translateX(-77px);
}

.side-right {
  font-size: 2.2rem;
  position: absolute;
  background-color: #ffe4c4;
  padding: 0 96px;
  color: #222;
  top: 0;
  right: 0;
  transform: rotate(-319deg) translateX(88px);
}

header>h1 {
  display: none;
}


/* Main  */
main {
  padding-top: 40px;
  height: max(100vh, 700px);
}

.first,
.second {
  display: flex;
  height: 230px;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.number {
  background: #eee;
  color: #333;
  font-size: 4rem;
  width: 250px;
  border-radius: 32px;
  padding: 2.5rem 0rem;
  text-align: center;
}

.level-box,
.score-box {
  height: 100%;
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  font-size: 1.7rem;
}

.between {
  font-size: 1.3rem;
}

select {
  background-color: #dddddd;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  margin-left: 10px;
  border-radius: 4px;
  outline: none;
  padding: 4px;
  width: 120px;
  cursor: pointer;
}

.level-box {
  gap: 25px;
}

.guess {
  background: none;
  border: 4px solid #eee;
  border-radius: 12px;
  color: inherit;
  outline: none;
  font-size: 5rem;
  padding: 2.5rem;
  width: 250px;
  text-align: center;
  caret-color: inherit;
}

.third {
  height: 90px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.btn {
  border: none;
  background-color: #eee;
  background-color: #90ee90ee;
  color: #222;
  font-size: 2rem;
  padding: 8px;
  border-radius: 26px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 5px;
}

.btn:active {
  margin-bottom: 0;
  margin-top: 5px;
}

.again {
  padding: 7px;
}

/* Footer Section  */
.footer {
  font-size: 1.7rem;
  background-color: #dddddd;
  /* background-color: #fff; */
  color: #333;
  text-align: center;
  padding: 100px 0;
}

.footer a {
  font-weight: 600;
  color: #222;
}

/* Tablet Responsive  */
@media only screen and (max-width: 768px) {
  header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe4c4;
    color: #222;
    font-size: 1.2rem;
  }

  header>div {
    display: none;
  }

  header>h1 {
    display: block;
  }

  main {
    padding-top: 50px;
  }

  .first,
  .second {
    height: 200px;
    gap: 10vw;
  }

  .number {
    width: 200px;
    border-radius: 16px;
    padding: 2rem 0rem;
  }

  .level-box,
  .score-box {
    width: 235px;
    font-size: 1.6rem;
  }

  .guess {
    font-size: 4.5rem;
    width: 200px;
    border-radius: 10px;
    padding: 2rem 0rem;
  }

  .third {
    height: 130px;
    gap: 10vw;
  }

  .btn {
    font-size: 1.7rem;
    padding: 8px;
    width: 200px;
  }

  .again {
    width: 235px;
  }

}

/* Mobile Landscape Responsive  */
@media only screen and (max-width: 600px) {

  .first,
  .second {
    height: 200px;
    gap: 10vw;
  }

  .number {
    width: 160px;
  }

  .guess {
    width: 160px;
  }

  .level-box,
  .score-box {
    font-size: 1.6rem;
  }

  .third {
    height: 130px;
    gap: 10vw;
  }

  .btn {
    font-size: 1.9rem;
    padding: 12px;
    width: 180px;
  }

  .again {
    width: 200px;
  }
}

/* Mobile Responsive  */
@media only screen and (max-width: 450px) {

  .first,
  .second {
    height: 200px;
    gap: 8vw;
  }

  .number {
    width: 160px;
  }

  .guess {
    width: 130px;
  }

  .level-box,
  .score-box {
    font-size: 1.6rem;
  }

  .third {
    height: 130px;
    gap: 9vw;
  }

  .btn {
    font-size: 1.9rem;
    padding: 12px;
    width: 145px;
  }

  .again {
    width: 200px;
  }
}

/* flower styling  */
#flower-container {
  position: fixed;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.square {
  width: 20px;
  border: none;
  height: 15px;
  background-color: #9fe93b;
  position: absolute;
  transform-origin: 50% 50%;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: #dddddd;
  position: absolute;
  transform-origin: 50% 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid #ff9800;
  position: absolute;
  transform-origin: 50% 50%;
}

@keyframes fall {
  0% {
    transform: translateY(-100%) rotate(360deg);
  }

  100% {
    transform: translateY(100vh) rotate(1100deg);
  }
}