* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --lightgray1: #dddddd;
  --lightgray2: #bbbbbb;
  --lightgray3: #dfdfdf9c;
  --gray: #807e7e;
  --darkgray: #353535;
  --pink: #d63384;
  --purple: #6610f2;
  --primary: #0d6efd;
  --green: #198754;
  --orange: #fd7e14;
  --red: #dc3545;
  --black: #111;
  --theme-bg: rgb(17, 24, 39);
}

body {
  font-family: "Poppins", sans-serif;
  color: #eee;
  overflow-x: hidden;
  background-color: #222;
}

/* Side Bar  */
.first {
  font-size: 2.2rem;
  position: absolute;
  background-color: #ddd;
  padding: 0 96px;
  color: #222;
  top: 0;
  left: 0;
  transform: rotate(319deg) translateX(-77px);
}

.second {
  font-size: 2.2rem;
  position: absolute;
  background-color: #ddd;
  padding: 0 96px;
  color: #222;
  top: 0;
  right: 0;
  transform: rotate(-319deg) translateX(88px);
}


/* Main  */
main {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  height: max(100vh, 600px);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.between {
  font-size: 1.6rem;
}

.number {
  background: #eee;
  color: #333;
  font-size: 4rem;
  width: 250px;
  border-radius: 32px;
  padding: 2.5rem 0rem;
  text-align: center;
}

.guess {
  background: none;
  border: 4px solid #eee;
  border-radius: 12px;
  outline: none;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 250px;
  text-align: center;
  display: block;
}

.right {
  font-size: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.score-message {
  height: 50%;
  display: flex;
  align-items: center;
}

.score-box {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.check {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  border-radius: 12px;
  padding: 10px 32px;
  cursor: pointer;
}

.again {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 1.7rem;
  border-radius: 12px;
  padding: 10px 32px;
  cursor: pointer;
}

.btn {
  transition: all 0.2s linear;
  margin-bottom: 5px;
}

.btn:active {
  margin-bottom: 0;
  margin-top: 5px;
}

/* Laptop Responsive  */
@media only screen and (max-width: 1024px) {
  main {
    gap: 6vw;
  }
}

/* Tablet Responsive  */
@media only screen and (max-width: 768px) {
  .first {
    padding: 0 122px;
    transform: rotate(334deg) translateX(-63px);
  }

  .second {
    padding: 0 131px;
    transform: rotate(-334deg) translateX(90px);
  }

  main {
    padding-top: 50px;
    gap: 2vw;
  }
}

/* Mobile Responsive  */
@media only screen and (max-width: 600px) {
  main {
    padding-top: 50px;
    gap: 2vw;
  }
}