* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #ddabab;
}

body {
  font-family: "Poppins", sans-serif;
  color: #eee;
  overflow: hidden;
  background-color: #222;
}

/* LAYOUT */
header {
  height: 32vh;
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  padding-bottom: 10px;
  /* border-bottom: 8px solid #ddd; */
}

.first {
  font-size: 2.2rem;
  position: absolute;
  background-color: #ddd;
  padding: 0 96px;
  color: #222;
  top: 0;
  left: 0;
  transform: rotate(319deg) translateX(-77px);
}

.second {
  font-size: 2.2rem;
  position: absolute;
  background-color: #ddd;
  padding: 0 96px;
  color: #222;
  top: 0;
  right: 0;
  transform: rotate(-319deg) translateX(88px);
}

.number {
  background: #eee;
  color: #333;
  font-size: 4rem;
  width: 15rem;
  border-radius: 32px;
  padding: 2.5rem 0rem;
  text-align: center;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  font-size: 2rem;
}

.between {
  font-size: 1.4rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  border-radius: 12px;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  border-radius: 12px;
  padding: 20px 32px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 5rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}